<!DOCTYPE html>
<html lang="en">
<head>

    <%-include ('partials/header.ejs') %>

</head>
<body>
    <%-include ('partials/nav.ejs') %>
    <div class="container">
        <p class="alert alert-danger text-center fs-4"> 404 not found</p>
    </div>

</body>


<%-include ('partials/footer.ejs') %>

</html>